# Don't commit the lock file: it's a library, not an application
Gemfile.lock

# Generated skills test directory
/skills.test

# This repo uses cline-rb that needs some node modules.
node_modules/
package.json
package-lock.json

# Yard is used to generate doc. Don't commit generated yard files.
.yardoc/
doc/

# SimpleCov is used to generate code coverage reports. Don't commit generated coverage files.
coverage/
